################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BeerFinder/packages
/BeerFinder/.vs/config
